body {
    background-color: rgb(33, 33, 45);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.TopBar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    height: 7%;
    background-color: rgb(14, 17, 26);
    display: flex;
}

.TopBar a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-right: 1px solid;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    text-decoration: none;
}

.TopBar a:hover {
    background-color: rgb(60, 61, 61);
}

.InputDataForm {
        font-family: Arial, Helvetica, sans-serif;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        justify-content: center;
        border: 1px #fffeea solid;
        border-radius: 20px;    
        box-sizing: border-box;
        padding : 30px;
        padding-bottom: 10px;
        height: auto;
        width: 400px;
        min-width: 30%;
        min-height: 70%;
        background-color: #2d2d2d;
        color:white;
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
}

.arrow::after {
  content: "";
  position: absolute;
  border: solid rgb(223, 223, 223);
  border-width: 0 10px 10px 0;
  padding: 10px;
  transform: rotate(135deg);
  left: 0;
}

.arrow::before {
  content: "";
  position: absolute;
  width: 30px;     
  height: 10px;          
  background-color: rgb(223, 223, 223);
  top: 120%;
  left: 5px;
  transform: translateY(-50%);
}

.InputDataForm input {  
    font-family: Arial, Helvetica, sans-serif;
    min-width: 100%;
    border-radius: 10px;
    font-size: 25px;
    padding:5px 10px 5px 10px;
    border:none;
}

.InputDataForm button {
    width: 30%;
    margin-top: 8%;
    margin-left: 70%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    border: none;
    height: 5%;
    background-color: rgb(121, 189, 240);
}

.InputDataForm button:hover {
    background-color: rgb(190, 242, 255);
}

